*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
    display: none;
}

img{
    width: 100vw;
}
a{
    display: block;
    background-color: darkgreen;
    color: aliceblue;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;            
}

a:hover{
    background-color: rgb(1, 172, 1);
}